<section id="about">
    <div class="content">
        <div class="drawing">
            <h1 class="typewriter">Hello World!</h1>
            <app-person></app-person>
        </div>
        <div class="accordion">
            <details class="accordion-card">
                <summary>I started coding because ...</summary>
                <div class="card-body">
    
                </div>
            </details>
            <details class="accordion-card">
                <summary>I am passionate about ...</summary>
                <div class="card-body">
                    <ul>
                        <li>Intuitive User Interface</li>
                        <li>Accessibility</li>
                        <li>Continuous Learning</li>
                        <li>Mentorship & Training</li>
                    </ul>
                    <ul>
                        <li>Animal Welfare</li>
                        <li>Sustainability</li>
                        <li>Arts & Crafts</li>
                        <li>Gardening</li>
                        <li>Cooking</li>
                    </ul>
                </div>
            </details>
            <details class="accordion-card">
                <summary>I've been learning ...</summary>
                <div class="card-body">
                    <ul>
                        <li>Machine Learning</li>
                        <li>Flexbox</li>
                        <li>Animation</li>
                    </ul>
                </div>
            </details>
            <details class="accordion-card">
                <summary>I've been described as ...</summary>
                <div class="card-body">
                    <ul>
                        <li>Creative</li>
                        <li>Efficient</li>
                        <li>Fast Learner</li>
                        <li>Organize</li>
                        <li>Catalyst for change</li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
</section>