@import '../../colors';

#skills {
    background-color: $blue;

    .content {
        display: flex;
        background-color: $blue;
        flex-wrap: wrap;

        .skill {
            flex-basis: calc(50% - 10px);
            opacity: .1;
            background-color: $light-purple;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
}