<div class="container">
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="tree">
    <div class="trunk">
      <div class="branch"></div>
      <div class="branch"></div>
      <div class="branch"></div>
      <div class="branch"></div>
    </div>
    <div class="leaves">
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
    </div>
  </div>
  <div class="grass"></div>
</div>